extends layout

block layout-content
  div.View
    h1.Banner Page Hero Banner
    div.Message
      div.Title
        h3 Card Category
        h1 Card Title Here
      span.Details Details about the page go here.
    div.NavButtons
      a(href="/user")
          div.NavButton User Interaction