extends layout

block layout-content
  div.View.UserView
    h1.Banner Hello User
    div.Message
      div.Title
        h3 Card Category
        h1 Card Title Here
      pre.Details=JSON.stringify(userProfile, null, 2)
    div.NavButtons
      a(href="/")
        div.NavButton Home